<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-10 col-lg-8 col-sm-10">
					<br>
					<br>
					<h1 class="mb-2">
						Capstone - Web Scraping 
					</h1>
					<h3>
						Reported Period: 2021
					</h3>
					<br>
				</div>
			</div>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-4">
				<div class="card card-stats">
					<div class="card-header">
						<div class="card-icon">
							<i></i>
						</div>
						<h2 class="card-title">
							{{ card_data }}
						</h2>
						<h4 class="card-category">
							source: imdb.com
						</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="tab">
					<button class="tablinks" onclick="openTab(event, 'profile') " id="defaultOpen">Top 7
					</button>
					<button class="tablinks" onclick="openTab(event, 'Own')">Correlation
					</button>
					<button class="tablinks" onclick="openTab(event, 'Own2')">Additional Analysis
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<!-- Tab content -->
				<div id="profile" class="tabcontent">
					<div style="margin:12px">
						<p style="color: #333333">We conclude that imdb rating and metascore isn't related directly with popularity.</p>
						<h3 style="color: #333333;text-align:center">Chart 1: 7 Popular Movie based on ranking </h3>
						<div class="img-container">
							
							{% if funded_plot != None %}
						<img src="data:image/png;base64,{{ plot_rank }}" >
							{% endif %}
						</div>
						<p style="color: #333333">Chart 1 shows that top 7th by popularity has varies imdb rating and metascore from 6 until 9. It looks like popularity not correlated with ratings from both source.</p>
						<p style="color: #333333">Based on imdb FAQ, generally, popularity rank based on page view of the title.</p>
						<p style="color: #333333"> </p>
						<table class="table-chart"> 
							<tr>
								<td>
									<h3 style="color: #333333;text-align:center">Chart 2: 7 Popular Movie based on imdb rating </h3>
									<div class="img-container"">
										
										{% if funded_plot != None %}
									<img src="data:image/png;base64,{{ plot_imdb }}" >
										{% endif %}
									</div>		
								</td><br>

								<td>
								<h3 style="color: #333333;text-align:center">Chart 3: 7 Popular Movie based on metascore rating </h3>
									<div class="img-container"">
										
										{% if funded_plot != None %}
									<img src="data:image/png;base64,{{ plot_ms }}" >
										{% endif %}
									</div>
								</td>	
							</tr>
						</table>
						<br>
						<p style="color: #333333">
							Chart 2 has 2 same title (rank 2 and 3), out of chart 1. And chart 3 only has 1 same title (rank 4). It gives evidence that both ratings has weak correlation with popularity or not at all.
						</p>
						<br>
						<p style="color: #333333">*Note: sampling data taken from advanced search at imdb site with filter:</p>
						<p style="color: #333333">&nbsp; - year: 2021</p>	
						<p style="color: #333333">&nbsp; - item per page: 250</p>	
						<p style="color: #333333">and clean the data by remove row, with criteria:</p>
						<p style="color: #333333">&nbsp; - doesn't have metascore</p>	
						<p style="color: #333333">&nbsp; - USA release date on year 2021</p>	  
						<p style="color: #333333">Total data for plotting: 68</p>						
					</div>
				</div>

				<div id="Own" class="tabcontent">
					<div style="margin:12px">
						<p style="color: #333333">Conclusion; imdb rating, metascore and release date doesn't have correlation with popularity.
						<br>
						<table class="table-chart">
							<tr>
								<td>
									<h3 style="color: #333333;text-align:center">Correlation: ranks and imdb rating </h3>
									<div class="img-container"">
										
										{% if funded_plot != None %}
									<img src="data:image/png;base64,{{ plot_scimdb }}" >
										{% endif %}
									</div>
								</td>
								<td>
									<h3 style="color: #333333;text-align:center">Correlation: ranks and metascore </h3>
									<div class="img-container"">
										
										{% if funded_plot != None %}
									<img src="data:image/png;base64,{{ plot_scms }}" >
										{% endif %}
									</div>	
								</td>
							</tr>
							<tr>
								<td>
									<h3 style="color: #333333;text-align:center">Correlation: ranks and release date </h3>
									<div class="img-container"">
										{% if funded_plot != None %}
									<img src="data:image/png;base64,{{ plot_scdate }}" >
										{% endif %}
									</div>
								</td>
							</tr>	
						</table>	
					</div>
				</div>
				
				<div id="Own2" class="tabcontent">
				    <!-- Define your own analysis for extra challange -->
					<div style="margin:12px">
						<p style="color: #333333;">
							Conclusion, metascore rating is better suited to movie enthusiast (considering all aspect of movie).
						</p>
						<br>
						<div class="img-container">
								
							{% if funded_plot != None %}
								<img src="data:image/png;base64,{{ plot_hist_imdb }}" ><img src="data:image/png;base64,{{ plot_hist_ms }}" >
							{% endif %}
						</div>
						<br>
						<p style="color: #333333;">
							Based on both histogram, metascore resembles more as normal distribution. It has more bars around lowest and highest rating area.
							In imdb's histogram, distribution tend to average area (x-axis between 6 and 8).
						</p> 
						<br>
						<p style="color: #333333;">
							metascore taken from website metacritic.com, is about review from leading critics which is reviewer more filtered than imdb.
						</p>	
					</div>	
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
function openTab(evt, idName) {
	// Declare all variables
	var i, tabcontent, tablinks;

	// Get all elements with class="tabcontent" and hide them
	tabcontent = document.getElementsByClassName("tabcontent");
	for (i = 0; i < tabcontent.length; i++) {
	tabcontent[i].style.display = "none";
	}

	// Get all elements with class="tablinks" and remove the class "active"
	tablinks = document.getElementsByClassName("tablinks");
	for (i = 0; i < tablinks.length; i++) {
	tablinks[i].className = tablinks[i].className.replace(" active", "");
	}

	// Show the current tab, and add an "active" class to the button that opened the tab
	document.getElementById(idName).style.display = "block";
	evt.currentTarget.className += " active";

	}
	document.getElementById("defaultOpen").click();	
</script>